#hy
{
    color: #fff;
}
#update
{
    color: #fff;
}
img
{
    width: 300px;
    height: 500px;
}
body{
    
    background-color: black;
}
.parent
{
    margin: auto;
    text-align: center;

}